// Colors
$color-primary: #e24292e;
$color-secondary: #404448;
$color-tertiary: #d1d5da;

// Font-colors
$color-font-title: #586075;
$color-font-text: #7c7e83;


// Font-family
$Mono: 'Open Sans', sans-serif;

//Borders
$border: 1px solid $color-tertiary;