
.main-user-data {
  width: 270px;
  color: $color-font-title;
}

.user {
  width: 100%;
  @include flex-box(column, flex-start, flex-start);
}

.avatar-wrapper {
  width: 270px;
  height: 270px;
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;
}

.user-name {
  margin-top: 5%;
  font-size: 29px;
  font-weight: 800;
  color: black;
}

.user-login {
  font-weight: 300;
  font-size: 24px;
}

.user-bio {
  font-size: 16px;
  margin-top: 5%;
  padding-bottom: 16px;
  border-bottom: $border;
}

.user-location {
  color: black;
  margin-top: 5%;
  @include flex-box(row, center ,center);
}

.user-email {
  color: blue;
  width: 100%;
  @include flex-box(row, flex-start ,center);
  padding-bottom: 16px;
  border-bottom: $border;
}

.icon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.user-organisation {
  font-size: 17px;
  margin-top: 5%;
  font-weight: 700;
  color: black;

}

